<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ali.homeschool">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controller.activities.Register"/>
        <activity android:name=".controller.activities.Sign_In"/>
        <activity android:name=".controller.activities.SignInAs"/>
        <activity android:name=".closed.Guesttrial______________"/>

        <provider
            android:name=".data.generated.DataProvider"
            android:authorities="com.example.ali.homeschool.data.DataProvider"
            android:exported="false"
            android:grantUriPermissions="true"/>

        <activity android:name=".childClass.ClassActivity"/>
        <activity android:name=".controller.activities.Guest"/>
        <activity
            android:name=".descriptionActivity.CourseDescriptionActivity"
            android:parentActivityName=".controller.activities.StudentHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".closed.Main3Activitytrial______________"/>
        </activity>
        <activity
            android:name=".controller.activities.StudentHomeActivity"
            android:label="@string/title_activity_main4"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".childEnrolledCourses.EnrolledCourseActivity"
            android:label="@string/title_activity_enrolled_course"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ParentHome.ParentActivity"
            android:label="@string/title_activity_parent"
            android:parentActivityName=".controller.activities.SignInAs"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ali.homeschool.controller.activities.SignInAs"/>
        </activity>
        <activity
            android:name=".childProgress.ChildCourses"
            android:label="@string/title_activity_child_courses"
            android:parentActivityName=".ParentHome.ParentActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ali.homeschool.ParentHome.ParentActivity"/>
        </activity>
        <activity android:name=".InstructorHome.InstructorActivity"/>
        <activity android:name=".InstructorLessons.InstructorLessonsActivity">
        </activity>
        <activity android:name=".InstructorTopic.InstructorTopicActivity">
        </activity>
        <activity android:name=".exercises.simple.SimpleExercises">
        </activity>
    </application>

</manifest>